 .b2:hover{
                        cursor:pointer;
                        background-color: #353535;
                        color: #D9D9D9;
                        opacity:0.5;                        
                    }